<div class="main">
  <div class="login-form">
    <img src="/logo.png"> <!--あとでロゴに変える -->
    <input type="text" name="email" placeholder="e-mail"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" class="login-button" name="login" value="ログイン">
  </div>
</div>
