// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ここからlogin */

body {
  background-color: #f5e4c4;
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 150px;
}

.login-form {
  background-color: #6e5b3b;
  width: 350px;
  padding: 30px 50px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

h1 {
  font-size: 40px;
  letter-spacing: 7px;
  color: white;
  font-family: monospace;
  line-height: 10px;
  margin-bottom: 50px;
}

p {
  color: white;
  font-size: 30px;
  line-height: 5px;
}

input {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 5px 0px;
  width: 300px;
}

img {
  width: 280px;
  padding-bottom: 10px;
}

.login-button {
  cursor: pointer;
  margin-top: 5px;
  padding: 10px;
  border-style: none;
  background-color: white;
  border-radius: 2px;
}

/* ここまでlogin */
